## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
result=pow(7,4)
print(result)

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [2]:
s="hi there string!"
x=s.split()
print(x)

['hi', 'there', 'string!']

In [3]:
s="hi there dad!"
x=s.split()
print(x)

['hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [5]:
planet="earth"
diameter=12742
print('the diameter of{}is {}kilometers.'.format(planet,diameter));

the diameter ofearthis 12742kilometers.

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [31]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [32]:
a=lst[3][1][2];
print(a)

['hello']

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [ ]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [14]:
d={'k1':[1,2,3,{'trichy':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
print(d['k1'][3]["trichy"][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

In [ ]:
from IPython.core.display import set_matplotlib_close
tuple is immutable
tuples operations are small
tuples consumes less memory

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [15]:
def domainGet(email):
  print("you domain is:"+email.split('@')[-1])
  email=input("please enter your email:>")
  domainGet(email)

'domain.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [21]:
def findDog(st):
 if'dog'in st.lower():
  print("true")
 else:
  print("False")
st="is there a dog here?"
findDog(st)

true

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [22]:
value='this dog runs fasster than the other dog dude!';
def countdogs(value):
  count =0
  for word in value.lower().split():
    if word=='dog' or word=='dogs':
      count=count+1
      print(count)
countdogs(value)

1
2

2

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [33]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [34]:
caught_speeding(81,True)

'Small Ticket'

In [35]:
caught_speeding(81,False)

'Big Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [36]:
ans=0
list=[300,400,500,600,700]
for i in range(len(list)):
  ans=ans+list[i]
print(ans)

2500

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [38]:
def Merge(dict1,dict2):
  return(dict2.update(dict1))
dict1={'Empid':1,'Empname':'jack','Basicpay':1000}
dict2={'DeptName':'cse','DeptId':4012}
print(Merge(dict1,dict2))
print(dict2)

None
{'DeptName': 'cse', 'DeptId': 4012, 'Empid': 1, 'Empname': 'jack', 'Basicpay': 1000}